:root {
    /* FONT SIZE */
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    /* VANLIG FONT ALLE ELEMENTER */
    --ff-regular:"Nunito", sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;

    /* SPESIAL FONT OVERSKRIFT */
    --ff-special: "Anta", sans-serif;
    --fw-special: 400;
}

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--ff-regular);
}

.primary-header {
    min-height: 10rem;
    background-color: black;
}