:root {
    /* FONT SIZE */
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    /* VANLIG FONT ALLE ELEMENTER */
    --ff-regular:"Nunito", sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;

    /* SPESIAL FONT OVERSKRIFT */
    --ff-special: "Anta", sans-serif;
    --fw-special: 400;

    /* PRIMÆR FARGER */
    --clr-heading: hsl(215, 58%, 13%);

    /* NØYTRAL FARGER */
    --clr-bg-light: hsl(261, 100%, 97%);
    --clr-txt: hsl(252, 45%, 2%);
    --clr-txt-light: var(--clr-bg-light);

    /* BORDER RADIUS */
    --brdr-rad-light: .5rem;
    --brdr-rad-normal: 1rem;
    --brdr-rad-heavy: 2rem;
}

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

body {
    background-color: rgb(34, 34, 34);
    font-family: var(--ff-regular);
    line-height: 1.5;
}

main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.sun {
    display: flex;
    background-image: url(../images/sun.png);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */
    justify-content: right;

}

.text-box-sun {
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.658) ;
    color: var(--clr-txt-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;
    border-radius: var(--brdr-rad-normal);
    overflow: auto; 
    margin-top: 50px;
    margin-right: 10%;
    max-width: 35vw;
    margin-bottom: 321px;
}

.suntitle {
    margin-bottom: 20px;
    font-family: var(--ff-special);
    font-size: var(--fs-800);
}

p {
    text-align: center;
    font-size: 1.1rem;
    max-height: 800px;
    overflow-wrap: break-word; /* Add overflow-wrap to allow wrapping of long words */
}


/* Define styles for screens smaller than 1390px */
@media screen and (max-width: 1390px) {

    .text-box-sun {
        max-width: 90%; /* Adjust the maximum width */
        margin-top: 10vh; /* Adjust the top margin */
        margin-right: 5%;

    }
}

/* Define styles for screens smaller than 537px */
@media screen and (max-width: 537px) {
    .suntitle {
        font-size: var(--fs-700); /* Adjust the font size */
    }

    p {
        font-size: 0.9rem; /* Adjust font size */
    }
}

/* Define styles for screens smaller than 385px */
@media screen and (max-width: 385px) {

    .suntitle {
        font-size: var(--fs-500); /* Adjust the font size */
    }

    p {
        font-size: 0.7rem; /* Adjust font size */
    }
}