:root {
    /* FONT SIZE */
    --fs-800: 3.5rem;
    --fs-700: 2rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    /* VANLIG FONT ALLE ELEMENTER */
    --ff-regular:"Nunito", sans-serif;
    --fw-bold: 700;
    --fw-regular: 400;

    /* SPESIAL FONT OVERSKRIFT */
    --ff-special: "Anta", sans-serif;
    --fw-special: 400;

    /* PRIMÆR FARGER */
    --clr-heading: hsl(215, 58%, 13%);

    /* NØYTRAL FARGER */
    --clr-bg-light: hsl(261, 100%, 97%);
    --clr-txt: hsl(252, 45%, 2%);
    --clr-txt-light: var(--clr-bg-light);

    /* BORDER RADIUS */
    --brdr-rad-light: .5rem;
    --brdr-rad-normal: 1rem;
    --brdr-rad-heavy: 2rem;
}

/* CSS RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

html {
    line-height: 1.5;
}

h1, h2, h3, h4 {
    line-height: 1.1;
}

body {
    background-color: rgb(10, 10, 10);
    font-family: var(--ff-regular);
    line-height: 1.5;
}

main {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}


.terrabox {
    margin-top: 150px;
    display: flex;
    background-color: rgb(40, 39, 39);
    height: 70.2vh;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-image: url(../images/Terrestrial_planet_sizes2.jpg);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */
}

.text-box-terra {
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.875) ;
    /* max-width: 32vw; */
    /* max-height: 85%; */
    color: var(--clr-txt-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: left;
    border-radius: var(--brdr-rad-normal);
    overflow: auto; 
    margin-left:11vw;
    max-width: 35vw;
    max-height: 90%;
}

.terratitle {
    margin-bottom: 20px;
    font-family: var(--ff-special);
    font-size: var(--fs-800);
}

.earth {
    margin-top: 150px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 10vw;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background/space\ background.jpg);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */

}



.earthpicture {
    width: 800px;
    height: 800px;
    background-image: url(../images/earth.gif);
    background-size: cover;
    animation: levitate 5s infinite alternate;
}

.earthpic {
    width: 753px;
    height: 745px;
    margin-left: 21px;
    margin-top: 38px;
    transition: opacity 0.5s ease; 
    animation: levitate 5s infinite alternate; /* Apply the levitate animation */
}

@keyframes levitate {
  0% {
    transform: translateY(0); /* Initial position */
  }
  100% {
    transform: translateY(-5px); /* Final position */
  }
}

.earthpic:hover {
    opacity: 0;
}

.text-box {
    padding: 30px;
    background-color:rgba(0, 0, 0, 0.875) ;
    max-width: 35vw;
    max-height: 90%;
    color: var(--clr-txt-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--brdr-rad-normal);
    overflow: auto; /* Add overflow property to enable scrolling if necessary */
}

p {
    text-align: center;
    font-size: 1.4rem;
    max-height: 800px;
    overflow-wrap: break-word; /* Add overflow-wrap to allow wrapping of long words */
}

.planetname {
    margin-bottom: 20px;
    font-family: var(--ff-special);
    font-size: var(--fs-800);
}

.mars {
    flex-direction: row-reverse;
    margin-top: 150px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 18vw;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background/marsbg.jpg);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */
    
}

.marspicture {
    width: 400px;
    height: 400px;
    background-image: url(../images/mars.gif);
    background-size: cover;
    animation: levitate 2s infinite alternate;
}

.marspic {
    width: 378px;
    height: 379px;
    margin-left: 21px;
    margin-top: 7px;
    transition: opacity 0.5s ease; 
    animation: levitate 3s infinite alternate; /* Apply the levitate animation */
}

.marspic:hover {
    opacity: 0;
}



.venus {
    flex-direction: row;
    margin-top: 150px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 9vw;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background/venusbg.jpg);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */
}

.venuspicture {
    width: 800px;
    height: 600px;
    background-image: url(../images/venus.gif);
    background-size: cover;
    animation: levitate 2s infinite alternate;
}

.venuspic {
    width: 590px;
    height: 590px;
    margin-left: 106px;
    margin-top: 9px;
    transition: opacity 0.5s ease; 
    animation: levitate 5s infinite alternate; /* Apply the levitate animation */
}

.venuspic:hover {
    opacity: 0;
}

.mercury {
    flex-direction: row-reverse;
    margin-top: 150px;
    margin-bottom: 150px;
    height: 1100px;
    background-color: rgb(255, 255, 255);
    display: flex;
    gap: 14vw;
    justify-content: center;
    align-items: center;
    background-image: url(../images/background/marcurybg.jpg);
    background-size: cover; /* This will make the background image cover the entire container */
    background-repeat: no-repeat; /* This will prevent the background image from repeating */
    background-position: center; /* This will center the background image */
}

.mercurypicture {
    width: 400px;
    height: 416px;
    background-image: url(../images/mercury.gif);
    background-size: cover;
    animation: levitate 2s infinite alternate;
}

.mercurypic {
    width: 425px;
    height: 425px;
    margin-left: 0px;
    margin-top: 0px;
    transition: opacity 0.5s ease; 
    animation: levitate 5s infinite alternate; /* Apply the levitate animation */
}

.mercurypic:hover {
    opacity: 0;
}

@media screen and (max-width: 1530px) {
    .terrabox {
        justify-content: center;
        align-self: center;
    }

    .text-box-terra {
        max-width: 70%;
    }
    .terra-text {
        font-size: 2rem;
    }
    .earth {
        /* flex-direction: column; */
    }
    .earthpicture {
        width: 560px; /* 70% of the original width (800px) */
        height: 560px; /* 70% of the original height (800px) */


    }
    
    .earthpic {
        width: 530px; /* 70% of the original width (753px) */
        height: 524px; /* 70% of the original height (745px) */
        margin-left: 13px; /* Adjust margins */
        margin-top: 20px; /* Adjust margins */
    }

    .venus{
        gap: 6vw;
    }

    .venuspicture {
        width: 640px; /* 80% of the original width (800px) */
        height: 480px; /* 80% of the original height (600px) */
    }
    
    .venuspic {
        width: 472px; /* 80% of the original width (590px) */
        height: 472px; /* 80% of the original height (590px) */
        margin-left: 88px;
  }
}

@media screen and (max-width: 1225px) {
    .terrabox {
        justify-content: center;
        align-self: center;
    }

    .text-box-terra {
        max-width: 55%;

    }
    .terra-text {
        font-size: 1.5rem;
    }
    .earth {
        /* flex-direction: column; */
    }
    .earthpicture {
        width: 560px; /* 70% of the original width (800px) */
        height: 560px; /* 70% of the original height (800px) */


    }
    
    .earthpic {
        width: 530px; /* 70% of the original width (753px) */
        height: 524px; /* 70% of the original height (745px) */
        margin-left: 13px; /* Adjust margins */
        margin-top: 20px; /* Adjust margins */
    }

    .venus{
        gap: 6vw;
    }

    .venuspicture {
        width: 640px; /* 80% of the original width (800px) */
        height: 480px; /* 80% of the original height (600px) */
    }
    
    .venuspic {
        width: 472px; /* 80% of the original width (590px) */
        height: 472px; /* 80% of the original height (590px) */
        margin-left: 88px;
  }
}